.signup-div {
    background: url('../images/mountainhike.jpg') top center no-repeat;
    width: 100%;
    max-height: 150vh;
    align-items: center;
    flex: 1 0 auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 63px;
    padding-top: 63px;
}

.signup-form {
    height: 70vh;
    min-height: 520px;
    max-height: 550px;
    display: flex;
    justify-content: center;
    width: 450px;
    border: 2px solid lightgrey;
    background: #fff;
}

.passwords {
    padding-right: 58px;
}
.emails {
    padding-right: 104px;
}
.names {
    padding-right: 98px;
}
.username {
    padding-right: 50px;
}
.images {
    padding-right: 20px !important;
}
.image-new {
    margin-left: 2px !important;
    margin-right: 10px;
    width: 190px;
    height: 24px;
    color: rgb(105, 105, 105);
}
.image-signup {
    margin-left: 0px !important;
    width: 190px;
    height: 24px;
}


.sub {
    margin-bottom: 15px;
}

