.new-ev {
    background: url('../components/images/solohike.jpg') top center no-repeat;
    background-size: cover;
}
.new-wrapper {
    width: 80vw;
    max-width: 550px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    margin: 13% auto 7% auto;
    background: #fff;
}

.name-new {
    margin-left: 57px;
}
.city-new {
    margin-left: 77px;
}
.state-new {
    margin-left: 65px;
}
.image-new {
    margin-left: 55px;
}
.rating-new {
    margin-left: 49px;
}
.review-new {
    margin-left: 40px;
}
.difficulty-new {
    margin-left: 25px;
    width: 190px;
    height: 24px;
    color: rgb(105, 105, 105);
}

.field {
    margin-bottom: 15px;
}

input {
    width: 180px;
}
.completed-new {
    width: 15px;
}

