.new-ev {
    background: url('../components/images/solohike.jpg') top center no-repeat;
    background-size: cover;
}
.new-wrapper {
    width: 80vw;
    max-width: 550px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(71, 152, 163);
    margin: 13% auto 7% auto;
    background: #fff;
}

.name-new {
    margin-left: 57px;
}
.city-new {
    margin-left: 77px;
}
.state-new {
    margin-left: 65px;
}
.image-new {
    margin-left: 55px !important;
    height: 15px;
}
.image-edit {
    margin-left: 55px !important;
}
.rating-new {
    margin-left: 49px;
}
.review-new {
    margin-left: 40px;
}
.difficulty-new {
    margin-left: 25px;
    width: 190px;
    height: 24px;
    color: rgb(105, 105, 105);
}
.difficulty-edit {
    height: 26px;
    color: black;
}

.field {
    margin-bottom: 15px;
}

input {
    width: 180px;
}
.completed-new {
    width: 15px;
}
.new-name {
    color: rgb(25, 108, 119);
}
.new-button {
    width: 130px;
    background: rgb(60, 147, 158);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 46%;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;;
}
.new-button:hover {
    cursor: pointer;
    background: #fff;
    color: rgb(60, 147, 158);
    border: 2px solid rgb(60, 147, 158);
}


