header {
    background: url('../images/hikingjumpunedited.jpg') top center no-repeat;
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.banner-text {
    margin: auto;
    z-index: 5;
    text-align: center;
}
.banner-text h1 {
    color: #fff;
    font-size: 70px;
    font-family: 'Sacramento', cursive;
    margin-bottom: 0;
}
.banner-text h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
    margin-top: 0;
}
/* .stamps {
} */
.stamp {
    z-index: 10;
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    width: 15vw;
}

.about {
    margin: 4% 3%;
    text-align: center;
}

/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
plant, tree, sun, lizard, fox, fish, flower

Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
leaf

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
beaver, snake */

/* https://www.uokpl.rs/fpng/f/9-97476_transparent-background-white.png 
stamp circle*/