.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-div {
    width: 100vw;
    max-height: 100vh;
    align-items: center;
    flex: 1 0 auto;
    background: url('../images/hikemountain.jpg') top center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}

.login-form {
    height: 42vh;
    min-height: 330px;
    display: flex;
    justify-content: center;
    width: 410px;
    min-width: 357px;
    border: 2px solid lightgrey;
    background: #fff;
    margin-bottom: 50px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
   
}

input {
    padding: 3px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

label {
    padding-right: 20px;
    font-size: 25px;
}

.email {
    padding-right: 66px;
}

.form-group {
    padding-bottom: 25px;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2.5em;
    padding: 5px;
    width: 50%;
    font-size: 15px;
}
