.hike-wrapper {
    width: 30vw;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    flex: 1 0 auto;
}

.hike-image {
    width: 30vw;
    padding-bottom: 30px;
}
.hike-name {
    padding-bottom: 15px;;
}
